# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
# JetBrains (IntelliJ, etc.)
/.idea/
*.iml
*.ipr
*.iws
# Eclipse
.classpath
.project
.settings/
.loadpath
.apt_generated/
.factorypath
.recommenders/
.springBeans
.sts4-cache/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.swp
*.swo
